# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\schoolStudyYear2\code\Java\studyForIDEInDLJD\sdudyForDLJD\src\com\makun\javase\mysqldatabase\01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
